@media (max-aspect-ratio: 1/1) {
  :root {
    --windowWidth: 100vw;
  }
}
@media (min-aspect-ratio: 1/1) {
  :root {
    --windowWidth: 550px;
  }
}
:root {
  --paddingWidth: calc(var(--windowWidth)/100);
  --colourMain: dodgerblue;
  --colourTxtMain: white;
  --colourBg: black;
  background: var(--colourBg);
}
body {
  padding: 0;
  margin: 0;
}
.outer {
  display: flex;
  height: 100%;
  padding: calc(var(--paddingWidth)*3);
  box-sizing: border-box;
  justify-content: center;
  margin-top: 33vh;
}
.inner {
  position: relative;
  width: var(--windowWidth);
  border-radius: calc(var(--paddingWidth)*2);
  display: flex;
  background-color: var(--colourMain);
}
.currencyHolder, .partyHolder, .cbHolder, .inputHolder,
.label, .field, .results, button {
  display: flex;
  flex: 1;
  justify-content: center;
}
.currencyHolder, .partyHolder {
  margin-bottom: var(--paddingWidth);
  padding: 0 var(--paddingWidth)
}
.inputHolder:not(:last-child), .cbHolder {
  margin-right: var(--paddingWidth);
}
.currencyHolder {
  flex-direction: row;
}
.inner, .inputHolder, .results {
  flex-direction: column;
}
.label, .result {
  font-size: calc(var(--paddingWidth)*3);
}
.inner, .label, input, .results, button {
  padding: var(--paddingWidth);
}
.inner, input, button, .result span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(var(--paddingWidth)*4);
}
.inner, button {
  color: var(--colourTxtMain);
}
.label {
  user-select: none;
  align-items: flex-end;
}
button, input[type="checkbox"] {
  cursor: pointer;
}
button {
  border: var(--colourTxtMain) calc(var(--paddingWidth)/5*2) solid;
  border-radius: var(--paddingWidth);
  background-color: var(--colourMain);
  box-sizing: border-box;
  align-items: center;
}
input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: var(--paddingWidth);
  background-color: var(--colourTxtMain);
  color: var(--colourBg);
  text-align: center;
}
.cbHolder {
  flex-wrap: wrap;
}
.cbHolder .inputHolder {
  flex-direction: row;
  margin: 0;
  padding: var(--paddingWidth);
}
.cbHolder .label {
  align-items: center;
  padding: 0;
}
input[type="checkbox"] {
  border: none;
  appearance: none;
  margin: 0;
  flex: 1;
  display: flex;
}
input[type="checkbox"]:checked {
  background-color: var(--colourMain);
  filter: brightness(75%) saturate(150%);
}
input[type="checkbox"]:checked:hover {
  background-color: var(--colourMain);
  filter: brightness(85%) saturate(150%);
}
input[type="checkbox"]:after {
  font-family: "Noto Emoji";
  color: var(--colourTxtMain);
  content: "⭐";
  font-size: calc(var(--paddingWidth)*3);
}
.results {
  text-align: center;
}